# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np


# Seu código aqui
ano = [1900,1920,1940,1960,1980,2000, 2020]
anomalia_termica= [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]

ano_anomalia = pd.Series(data = ano)
termica_anomalia = pd.Series(data = anomalia_termica)

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

# seu código aqui
anomalia =  pd.Series(data = anomalia_termica, index = ano)
anomalia

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [30]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_dic = pd.DataFrame(list(dic_temperaturas.items()),columns = ['ano','temperatura'])
serie_dic

    ano  temperatura
0  1900        -0.08
1  1920        -0.27
2  1940         0.12
3  1960        -0.03
4  1980         0.26
5  2000         0.40
6  2020         1.02

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [9]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
tabela = pd.DataFrame(arr)
tabela

             0           1           2
0   105.293225  103.061100  111.663684
1   104.157692   92.370541  116.663403
2    89.143477  101.766213   92.105043
3   105.692862  104.843867   98.200985
4    94.844114  102.201944   94.721795
5    92.233012   92.197428  100.066531
6    92.122242  107.267739   85.367915
7    75.971581   95.685527   90.669031
8   103.332322  109.037439  110.626123
9   115.469484  100.535440  111.311630
10  102.729010  103.932823   91.399956
11  100.548311  102.887849  107.182089
12  104.054478   90.125460  109.280764
13   92.044344   95.263289  104.784614
14  106.899989  102.046711   96.822786
15  100.329624  103.678982  117.691112
16  101.227073   84.118490  107.868591
17  106.888625  112.503663   85.995090
18  122.424753  100.981615  103.799643
19  101.264670  108.838197  105.071082

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [10]:
#seu código aqui
b = pd.DataFrame(arr,columns  = ['x1','x2','x3'])
b = b.rename(index = lambda x: x + 1)
b

            x1          x2          x3
1   105.293225  103.061100  111.663684
2   104.157692   92.370541  116.663403
3    89.143477  101.766213   92.105043
4   105.692862  104.843867   98.200985
5    94.844114  102.201944   94.721795
6    92.233012   92.197428  100.066531
7    92.122242  107.267739   85.367915
8    75.971581   95.685527   90.669031
9   103.332322  109.037439  110.626123
10  115.469484  100.535440  111.311630
11  102.729010  103.932823   91.399956
12  100.548311  102.887849  107.182089
13  104.054478   90.125460  109.280764
14   92.044344   95.263289  104.784614
15  106.899989  102.046711   96.822786
16  100.329624  103.678982  117.691112
17  101.227073   84.118490  107.868591
18  106.888625  112.503663   85.995090
19  122.424753  100.981615  103.799643
20  101.264670  108.838197  105.071082

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [11]:
# seu código aqui 
b['Media']= (b['x1'] + b['x2'] + b['x3'])/3
    
b

            x1          x2          x3       Media
1   105.293225  103.061100  111.663684  106.672670
2   104.157692   92.370541  116.663403  104.397212
3    89.143477  101.766213   92.105043   94.338244
4   105.692862  104.843867   98.200985  102.912571
5    94.844114  102.201944   94.721795   97.255951
6    92.233012   92.197428  100.066531   94.832324
7    92.122242  107.267739   85.367915   94.919299
8    75.971581   95.685527   90.669031   87.442046
9   103.332322  109.037439  110.626123  107.665295
10  115.469484  100.535440  111.311630  109.105518
11  102.729010  103.932823   91.399956   99.353929
12  100.548311  102.887849  107.182089  103.539417
13  104.054478   90.125460  109.280764  101.153567
14   92.044344   95.263289  104.784614   97.364082
15  106.899989  102.046711   96.822786  101.923162
16  100.329624  103.678982  117.691112  107.233239
17  101.227073   84.118490  107.868591   97.738051
18  106.888625  112.503663   85.995090  101.795793
19  122.424753  100.981615  103.799643  109.068670
20  101.264670  108.838197  105.071082  105.057983

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [13]:
# seu código aqui
b['log_med'] = np.log(b['Media'])
b

            x1          x2          x3       Media   log_med
1   105.293225  103.061100  111.663684  106.672670  4.669765
2   104.157692   92.370541  116.663403  104.397212  4.648203
3    89.143477  101.766213   92.105043   94.338244  4.546887
4   105.692862  104.843867   98.200985  102.912571  4.633880
5    94.844114  102.201944   94.721795   97.255951  4.577346
6    92.233012   92.197428  100.066531   94.832324  4.552110
7    92.122242  107.267739   85.367915   94.919299  4.553027
8    75.971581   95.685527   90.669031   87.442046  4.470976
9   103.332322  109.037439  110.626123  107.665295  4.679027
10  115.469484  100.535440  111.311630  109.105518  4.692315
11  102.729010  103.932823   91.399956   99.353929  4.598689
12  100.548311  102.887849  107.182089  103.539417  4.639952
13  104.054478   90.125460  109.280764  101.153567  4.616640
14   92.044344   95.263289  104.784614   97.364082  4.578457
15  106.899989  102.046711   96.822786  101.923162  4.624219
16  100.329624  103.678982  117.691112  107.233239  4.675006
17  101.227073   84.118490  107.868591   97.738051  4.582291
18  106.888625  112.503663   85.995090  101.795793  4.622969
19  122.424753  100.981615  103.799643  109.068670  4.691978
20  101.264670  108.838197  105.071082  105.057983  4.654512